/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap'); */

* {
  padding: 0;
  margin: 0;
}
.contanier {
  width: 1250px;
  height: 2110px;
  margin: 0 auto;
}
/* header  */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 17px;
}
/* logo  */
.logo {
  padding: 2px;
  width: 306px;
  height: 33px;
  background-color: aliceblue;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;

  color: #295091;
}
/* valyuta-list  */
.valyuta-list {
  display: flex;
  gap: 12px;
  list-style: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #757d8b;
}
.currency-symbol {
  color: #285193;
}
/* a sign  */
.a-sign {
  position: relative;
  left: 538px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 146px;
  height: 40px;

  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  border: none;
}
.signal-word {
  color: #ffffff;
}
/* nav-box  */
.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1250px;
  height: 68px;
  margin-top: 44px;

  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}
.nav-box-title {
  display: flex;
  width: 1200px;
  height: 25px;
  gap: 54px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  list-style: none;
  color: #515151;
}
.nav-box-pnj {
  width: 1250px;
  margin-top: 18px;
}
.covid-19-p {
  font-family: "Rubik";
  color: #000000;
}

.infected-p {
  font-family: "Rubik";
  color: #db0000;
}
.infected-hr {
  position: relative;
  bottom: 10px;
  width: 2px;
  height: 65px;
  background: #eb5569;
}
.number {
  font-weight: bold;
  font-size: 18px;
}
/* messenger  */
.messenger {
  margin-top: 38px;

  width: 198px;
  height: 26px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: #000000;
}
/* article  */
.article {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: 1170px;
  background-color: white;
}
.prezident-pnj-box {
  margin-top: 89px;
  width: 794px;
  height: 379px;
}
.article-left-text-box {
  margin-top: 36px;
  width: 794px;
  height: 588px;
}
.p-box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;

  padding: 10px;
}
.button {
  width: 790px;
  height: 21px;
}
.button-list {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  color: #28508e;
}
/* .article-right-side  */
.article-right-side {
  width: 409px;
  height: 1152px;
  margin-left: 67%;
  margin-top: -1020px;
}
.article-right-side-box {
  width: 386px;
  height: 740px;

  background: #f6f6f9;
  border-radius: 5px;
}
.article-right-side-header {
  width: 280px;
  height: 170px;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 86px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #202020;
}
.article-right-side-p {
  width: 280px;
  height: 61px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  color: #202020;
}
.article-right-side-data {
  width: 117px;
  height: 19px;
  margin-top: 11px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #7688a4;
}
.article-right-side-hr {
  width: 346px;
  height: 4px;
  margin-top: 14px;

  background: #e4e4e4;
}
/* article-right-side-pnj-box  */
.article-right-side-pnj-box {
  width: 385px;
  height: 385px;
  margin-top: 20px;

  border-radius: 5px;
}
.article-right-side-pnj {
  width: 385px;
  height: 385px;
}

/* footer  */
.footer {
  margin-top: 38px;
  width: 1250px;
  height: 225px;

  background: #295093;
}
.tekst-box1 {
  padding-top: 31px;
  height: 38px;
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-left: 119px;
  width: 194px;
  height: 38px;
  background: #133c82;
  border-radius: 5px;
}
.footer-logo-p {
  padding: 11px 12px 6px 9px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.tekst {
  margin-left: 64px;
  width: 659px;
  height: 19px;
  color: #ffffff;
}
.messenger-tgm-box {
  width: 132px;
  height: 38px;
  margin-left: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}
.tgm-box-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #295093;

  width: 88px;
  height: 19px;
}
.footer-hr {
  margin-left: 119px;
  margin-top: 20px;
  width: 1070px;
  height: 3px;
  background: #133c82;
}
.footer-2-box {
  display: flex;
  align-items: center;
}
.footer-2-text-box {
  margin-left: 118px;
  margin-top: 12px;
  width: 365px;
  height: 121px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.footer-2informatsion {
  width: 365px;
  height: 121px;
  margin-top: 12px;
  margin-left: 111px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.footer-2informatsion-item {
  list-style: none;
  padding-top: 6px;
}
.footer-2informatsion-box {
  width: 225px;
  height: 106px;
  width: 225px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  height: 106px;
}
.footer-2informatsion-box-list-item {
  list-style: none;
  padding-top: 8px;
  color: #ffffff;
}

.corantin-school {
  display: flex;
  margin-top: 55px;
  flex-wrap: wrap;
  width: 1250px;
  height: 600px;
  margin-top: 420px;
}
.corantin-box {
  width: 415px;
}
.corantin-box-title {
  margin-top: 11px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.corantin-box-the-date {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 11px;

  color: #6b6d97;
}
