.home__head {
    width: 100%;
    height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  &home__logo {
    width: 236px;
    height: 26px;
  }
  .home__navbox {
    width: 280px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    margin-left: 761px;
  }
  .home__navbox a {
    color: #83888f;
    font-size: 12px;
    font-family: Barlow;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
  }
}