@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
 button :hover {
  background:  wheat;
}
.contener {
  width: 1280px;
  margin: 0 auto;
}