.home__title-box {
  width: 1280px;
  height: 600px;
  margin-top: 45px;
  border-radius: 1%;
  background: url(../dars-pnj/Bitmap.png);

  .home__text-box {
    width: 493px;
    height: 367px;
    padding-left: 87px;
    padding-top: 85px;
  }
  .home__title {
    width: 493px;
    height: 145px;
    color: #fefcf7;
    font-size: 36px;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 72px;
  }
  .home__text {
    width: 445px;
    height: 78px;
    margin-top: 32px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    color: #fefcf7;
    font-size: 19px;
    font-family: Barlow;
    line-height: 26px;
  }
  .home__btn {
    width: 217px;
    height: 56px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 56px;

    border-radius: 6px;
    background: #0e8784;
  }
  .home__btn-p {
    color: #fefcf7;
    text-align: center;
    font-size: 18px;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 25px;
  }
}

// .about__title-box
.about__title-box {
  width: 1280px;
  height: 450px;
  flex-shrink: 0;
  margin-top: 45px;
  border-radius: 1%;
  background: url(../dars-pnj/about_bitmap.png);

  .about__text-box {
    width: 493px;
    height: 367px;
    padding-left: 87px;
    padding-top: 85px;
  }
  .about__title {
    width: 253px;
    height: 63px;
    color: #fefcf7;
    font-size: 36px;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 72px;
  }

  .about__text {
    width: 445px;
    height: 104px;
    margin-top: 32px;

    color: #fefcf7;
    font-size: 16px;
    font-family: Barlow;
    line-height: 26px;
  }
}
